{% extends 'blog/base.html' %}
 
{% block title %}Регистрация{% endblock %}

{% block auth %}

{% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<div class="row" style="margin-bottom: 400px; margin-top: 20px; margin-left: auto; margin-right: auto;">
    <div class="col-md-6 offset-md-3">
        <p class="text-center"><font face="roboto" size="6">Регистрация</font></p>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-secondary">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}