{% load static %}
<html>
    <head>
        <title>Дневник сна</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
        <!-- DATE FNS -->
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        <script data-require="jquery" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="page-header" style="background-color: #569EFF; height: 15%;">
            <h1><a href="/" style="float: left; position: absolute; left: 15%;">Дневник сна</a></h1>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}">
                    <button style="float: right; position: absolute; top: 5%; right: 20%; border-radius: 35px; width: 110px;" class="btn btn btn-light btn-sm" type="submit">Выйти</button>
                </form>
            {% else %}
                <div class="logbutton" style="float: right;">
                    <form action="{% url 'login' %}">
                        <button style="float: right; position: absolute; top: 5%; right: 35%; border-radius: 35px; width: 80px;" type="submit" class="btn btn btn-light btn-sm">Войти</button>
                    </form>
                    
                    <form action="{% url 'regist' %}">
                        <button style="float: right; position: absolute; top: 5%; right: 20%; border-radius: 35px; width: 110px;" type="submit" class="btn btn btn-light btn-sm">Регистрация</button>
                    </form>  
                </div>
            {% endif %}    
        </div>
        {% block auth %}
        {% endblock %}
        
        {% if user.is_authenticated %}
            <div class="container">
                {% block content %}
            
                {% endblock %}
            </div>
        {% else %}
            
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    </body>
    
    {% if form %}
    {% else %}
        {% if user.is_authenticated %}
        {% else %} 
            <body>
                <img src="https://image.freepik.com/free-vector/cute-bear-sleeping-on-the-moon-illustration_41984-294.jpg" weight="300px" height="500px" style="float: left; position: absolute; top: 20%; left: 5%">
                <div style="margin-left: 45%; margin-top: 5%; font-size:x-large;"><strong>Добро пожаловать!</strong></div>
                <div style="margin-left: 40%; margin-top: 3%; width: 700px;">
                    Этот проект про самый сложный и важный процесс — сон человека.<br>
                    Здоровый сон  – залог здоровья, бодрости, хорошего физического и эмоционального состояния. Именно поэтому так важо следить за его качеством, высыпаться.<br>  
                    Для этого и создано данное приложения. Скорее регистрируйся, если еще не бывал здесь.<br>
                    <p></p>
                    А для того, чтобы подробнее познакомиться с плавилами здорового сна переходи к главе
                    <p><a href="https://topskills.herokuapp.com/third/third_chapters_HealthySleep/">"Здоровый сон"</a></p>
                </div>
            </body>
        {% endif %}
    {% endif %}
    
</html>